<!--Footer Tag-->
<footer>
  <!--Navbar at bottom-->
    <nav class="navbar fixed-bottom navbar-dark bg-dark">
      <!--copyright on navbar-->
      <h6 class="navbar-text">&copy; Copyright 2024. All Rights Reserved</h6>
    </nav>
  </footer>
</body>
</html>
