<%- include ../Partials/header.ejs%>
<%- include ../Partials/main_nav.ejs%>
<main class="container">
    <!--Message Area-->
    <% if(message.length > 0) { %>
        <div class="alter alter-danger">
            <%= message %>
        </div>
        <% } %>
</main>
<%- include ../Partials/footer.ejs%>